
<!-- FOOTER CONTENT -->
<footer id="footer">
    <div class="footer-content">
        <ul class="nav cf">
            <li></li>
            <li>ABOUT US
                <ul>
                    <li><a href="https://maristfoxtales.com/2015/12/02/mporium-marist-fashion-students-revamp-the-enterprise/">Marist Mporium</a></li>
                    <li><a href="https://riverandstonethread.com/category/lifestyle/">Our Collection</a></li>
                    <li><a href="https://maristfoxtales.com/2015/12/02/mporium-marist-fashion-students-revamp-the-enterprise/">Lookbook</a></li>
                </ul>
            </li>
            <li>CUSTOMER CARE
                <ul>
                    <li><a href="">Shipping Policy</a></li>
                    <li><a href="">Returns Policy</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </li>
            <li>VISIT OUR STORE
                <ul>
                    <li><a href="https://www.google.com/maps?z=16&q=mporium+donnelly+fashion+plaza+3399+north+rd+poughkeepsie,+ny+12601">Marist College</a></li>
                    <li><a href="https://www.google.com/maps?z=16&q=mporium+donnelly+fashion+plaza+3399+north+rd+poughkeepsie,+ny+12601">3399 North Road</a></li>
                    <li><a href="https://www.google.com/maps?z=16&q=mporium+donnelly+fashion+plaza+3399+north+rd+poughkeepsie,+ny+12601">Poughkeepsie</a></li>
                    <li><a href="https://www.google.com/maps?z=16&q=mporium+donnelly+fashion+plaza+3399+north+rd+poughkeepsie,+ny+12601">New York, 12061</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer-extras">
        <ul class="social">
            <li><a class="gplus" target="_blank" href="">Google+</a></li>
            <li><a class="twitter" target="_blank" href="">Twitter</a></li>
            <li><a class="pinterest" target="_blank" href="">Pinterest</a></li>
            <li><a class="instagram" target="_blank" href="">Instagram</a></li>
        </ul>
        <p class="rights">Marist College Fashion</p>
    </div>
</footer>